<template>
  <div>
    <v-btn>Hello</v-btn>
    <br />
    Counter: {{ counter }}
    <br />
    DoubleCounter: {{ doubleCounter }}
  </div>
</template>
<script lang="ts" setup>
import { useMainStore } from "@/stores/main";
import { storeToRefs } from "pinia";

const main = useMainStore();
const { counter, doubleCounter } = storeToRefs(main);
</script>

<style lang="scss">
@use "../assets/settings";
</style>
